/** for browsers without flex support i.e. IE 9 */

.accordion-title-large {
    display: none;
}

@media screen and (min-width: 768px) {

    .accordion-title {
        display: none;
    }

    .accordion-title-large {
        padding: 10px;
        background: #eee;
        display: inline-block;
        margin-right: 1px;
    }
}